.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10%;
  justify-items: end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.fake-scroll {
  position: absolute;
  top: 0;
  width: 1px; }

.image {
  position: relative;
  width: 400px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center; }
  .image:nth-child(2n) {
    justify-self: start; }
  .image:nth-child(1) {
    background-image: url("../img/photo-1.jpg"); }
  .image:nth-child(2) {
    background-image: url("../img/photo-2.jpg"); }
  .image:nth-child(3) {
    background-image: url("../img/photo-3.jpg"); }
  .image:nth-child(4) {
    background-image: url("../img/photo-4.jpg"); }
  .image:nth-child(5) {
    background-image: url("../img/photo-5.jpg"); }
  .image:nth-child(6) {
    background-image: url("../img/photo-6.jpg"); }
  .image:nth-child(7) {
    background-image: url("../img/photo-7.jpg"); }
  .image:nth-child(8) {
    background-image: url("../img/photo-8.jpg"); }
  .image:nth-child(9) {
    background-image: url("../img/photo-9.jpg"); }
  .image:nth-child(10) {
    background-image: url("../img/photo-10.jpg"); }

@media screen and (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center; }
  .image:nth-child(2n) {
    justify-self: center; } }
