.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10%;
  justify-items: end; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fake-scroll {
  position: absolute;
  top: 0;
  width: 1px;
}

.image {
    position: relative;
    width: 400px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  
    &:nth-child(2n) {
      justify-self: start;
   }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        background-image: url('../img/photo#{$i}.jpg');
      }
    }
}

@media screen and (max-width: 760px) {
    .container {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .image:nth-child(2n) {
      justify-self: center;
    }
}

